.adContent {
  text-align: center;
}
.ads {
  width: 100px;
  margin: 0 auto;
}
.adDescription {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.w-50 {
  width: 50%;
  margin: 0 auto;
}
.btnBlue {
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: transparent;
  border-radius: 50px;
  padding: 6px 16px;
}
.btnBlue:hover {
  background-color: transparent;
  transition: all 200ms linear;
}
.btnBlack {
  color: #5e6262;
  border: 2px solid #5e6262;
  background-color: transparent;
  border-radius: 50px;
  padding: 6px 16px;
}
.adsLogo {
  width: 70px;
  height: 70px;
  align-self: center;
  border-radius: 50%;
}
.jobsHover:hover .dataRole {
  text-decoration: underline;
}
.font-3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
