.btn {
  font-size: 1rem;
}
.btnPrimary {
  color: white;
  border: 1px solid white;
  background-color: #0a66c2;
  border-radius: 100px;
  padding: 6px 16px !important;
}

.btnSecondary {
  color: black;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 100px;
  padding: 6px 16px !important;
}

.weight-500 {
  font-weight: 900;
}
