* {
  margin: 0;
  padding: 0;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 42vh;
  background-color: $grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading-bar {
  height: 2px;
  background: #cfcfcf;
  margin-top: 16px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #0073b1;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
  50% {
    left: 146px;
  }
}
.loading-animation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
