.messagingGrid {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 10px;
}

.roundedMsgContainer {
    border-radius: 10px 0px 0px 10px !important;
}

.messagingSectionGrid{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}