.btn {
    font-size: 1rem;
}
.btnPrimary{
    color: white;
    border: 1px solid white;
    background-color: blue;
    border-radius: 100px;
}

.btnSecondary{
    color: black;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 100px;

}