.adContent{
    text-align: center;
}
.ads{
    width: 100px;
    margin: 0 auto;
}
.adDescription{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.w-50{
    width: 50%;
    margin: 0 auto;
}
.btnBlue{
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 35px;
}
.btnBlue:hover{
    background-color: transparent;
}
.btnBlack{
    color: #5E6262;
    border: 2px solid #5E6262;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 25px;
}