.profileGrid{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 1%;
    align-items: flex-start;
}
.profilePicture{
    max-width:120px;
    position:relative;
    bottom:70px;
    left: 20px;
}
.details{
    padding: 0px 40px;
}
.w-auto{
    width: auto !important;
}
.msgBtn{
    padding: 4px 0px;
    width: 70%;
    background: transparent;
}