.iconImg {
    max-width: 130px;
}

a {
    font-weight: 900;
    color: var(--blue);
    text-decoration: none;
}

label {
    color: var(--text);
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

@media screen and (max-width:768px) {
    .sm-hide {
        display: none;
    }
}