.linkedInPageCreation {
  margin-top: 2rem;
}
.companyCard {
  width: 254px;
  height: 175px;
}
.companyType:hover {
  border: 1px solid black;
}
.MobileImg {
  width: 190px;
  height: 393px;
}
.DesktopImg {
  width: 830px;
  height: 485px;
}
