.profileGrid {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  gap: 1%;
  align-items: flex-start;
}
.profilePicture {
  max-width: 120px;
  position: relative;
  bottom: 70px;
  left: 20px;
}
.details {
  padding: 0px 25px;
}
.w-auto {
  width: auto !important;
}
.makeBlueLine:hover {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}
.msgBtn {
  padding: 6px 16px;
  width: 50%;
  background: transparent;
}
