:root {
  --Internaldark: rgb(118, 118, 118), rgb(133, 133, 133);
  --grey: black;
  --white: #fff;
  --brown: #6c4411;
  --black: #000;
  --text: rgba(0, 0, 0, 0.8);
  --border: rgba(0, 0, 0, 0.1);
  --blue: #0a66c2;
  --green: green;
  --navBar: white;
  --cardBackground: white;
  --searchBar: white;
  --discover: RGBA(0, 0, 0, 0.64);
  --border1: #5e6262;
  --uploadBar: rgba(0, 0, 0, 0.3);
  --following: rgba(0, 0, 0, 0.6);
  --reaction: hsla(0, 0%, 100%, 0.6);
  --footerLink: #5e6262;
}
html[data-theme="dark"] {
  --Internaldark: rgb(118, 118, 118), rgb(133, 133, 133);
  --grey: hsla(0, 0%, 100%, 0.6);
  --white: black;
  --brown: white;
  --black: white;
  --text: white;
  --blue: #0a66c2;
  --green: green;
  --navBar: #1d2226;
  --searchBar: #38434f;
  --cardBackground: #1d2226;
  --discover: white;
  --border1: white;
  --uploadBar: white;
  --following: white;
  --reaction: white;
  --footerLink: #dbdbdb;

  body {
    background-color: #000000;
  }
}
@import "./Global";
@import "./Mobile";
@import "./Pages/index";
@import "./Components/index";
