* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--grey);
}

:root {
  --grey: #f3f2ef;
  --white: #fff;
  --brown: #6C4411;
  --black: #000;
  --text: rgba(0, 0, 0, 0.6);
  --border: rgba(0, 0, 0, 0.2);
  --blue: #0A66C2;
}

.d-flex {
  display: flex;
}
.b-700{
  font-weight: 700;
}
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.btn {
  padding: 12px 24px;
  width: 100%;
  font-size: 1vw;
}

.rounded-pill {
  border-radius: 1vw;
}

.align-items-center {
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around{
  justify-content: space-around;
}
.align-items-end{
  align-items: flex-end;
}
.justify-content-end{
  justify-content: end;
}

.headflex {
  max-width: 1040px;
  width: 92%;
  margin: 0 auto;
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.mt-2 {
  margin-top: 10px;
}
.my-2{
  margin-top: 15px;
  margin-bottom: 15px;
}
.vr {
  width: 100%;
  height: 1px;
  background-color: black
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin: 0 auto;
}

.p-0 {
  padding: 0px;
}

.p-2 {
  padding: 3vw;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.align-items-stretch {
  align-items: stretch;
}

.p-1 {
  padding: 0px 5px;
}

.p-5 {
  padding: 32px;
}

.py-5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*gap*/

.gap-5 {
  gap: 15px;
}

.gap-1 {
  gap: 3px;
}

.gap-2 {
  gap: 10px;
}

.gap-10 {
  gap: 30px;
}

.rounded-5 {
  border-radius: 5px;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.678);
}

.bg-grey {
  background: var(--grey);
}

.heading1 {
  font-size: 2rem;
  font-weight: 400;
}
.heading2{
  font-size: 1.3rem;
  font-weight: 500;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--grey) inset !important;
}
button:disabled{
  opacity: 0.5;
}