.icon:hover{
    transform: scale(1.4);
    position: relative;
    bottom: 18px;
}
.icon{
    max-width: 40px;
}
.reactionList{
    width:fit-content;
    position:absolute;
    bottom:45px;
    display: none;
}
.like:hover .reactionList{
    display: flex;
}
.like:hover{
    background: transparent !important;
}